<div id="webcrumbs">
  <div *ngIf="loading" class="loading-overlay">  <div class="spinner"></div> </div>
  <div class="form-container">
    <div class="row logo-container">
      <div class="col">
        <div class="header-container">
          <div class="title-container">
            <h2>
              <span class="title">Online Testing API Device Location</span>
              <span class="subtitle"> - TIMLAB</span>
            </h2>
          </div>
          <div class="logo-div">
            <img src="/assets/iconeTIM.png" alt="TIM" class="logo" />
          </div>
        </div>
      </div>

    </div>
    <form [formGroup]="myForm" (ngSubmit)="executeRequest()" class="form">
      <div class="form-group">
        <div class="input-container">
          <label>MSISDN</label>
          <input type="text" formControlName="msisdn" pTooltip="Enter the MSISDN number" tooltipPosition="right" placeholder="Ex: 5511999999999, 5511988888888" />
        </div>
        <div class="input-container">
          <label>TPS</label>
          <input type="number" formControlName="tps" placeholder="Number of transactions per second" />
        </div>
        <div class="input-container">
          <label>Profile Number</label>
          <input type="number" pInputText formControlName="profileNumber" pTooltip="'1' for 5G and 4G; '2' for 3G, '3' for 2G" tooltipPosition="right" placeholder="Profile number" />
        </div>
        <div class="input-container">
          <label>Code Region</label>
          <input type="text" formControlName="codeRegion" placeholder="RJO; SPO; RJ-Lab" />
        </div>
      </div>
      <div class="button-group">
        <button type="submit" class="execute-btn">Execute</button>
        <button type="button" (click)="clearForm()" class="clear-btn">Clear</button>
      </div>
      <div class="result-container">
        <textarea placeholder="Results will appear here..." [value]="results" readonly></textarea>
      </div>
      <app-map [results]="mapResults"></app-map>
      
    </form>
    
  </div>
</div>
